
@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var themodel in ViewBag.Models)
    {
        <tr>
            <td>@themodel.ID</td>
            <td>@themodel.Name</td>
        </tr>
}
        </tbody>
    </table>
</div>

<a href="~/Model/Create" class="btn btn-info" role="button">Create New</a>