
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form action="~/Vehicle/Create" method="post">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
        </label>
    </div>
    <div class="form-group">
        <label for="sel1">Select list:</label>
        <select class="form-control" id="sel1">
            @foreach (var manufacturerid in ViewBag.ManufacturerIDs)
    {
        <option>@manufacturerid</option>
}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>